@import "tailwindcss";

:root {
    --bs-gray-color: #dbdade;
    --primary-color: #ff7519;
    --bs-body-bg: #f5f5f5;
    --card-color:#f5f5f5;
    --txt-gray-color : #8b8b8b;
    --txt-default-color: #353535;
    --txt-reverse-color: #fff;
    --bs-board-bg: #c0c0c0;
    --box-shadow: 3px 3px 5px rgba(44, 44, 44, 0.2);

    --main-font-regular: "Pretendard-Regular";
    --main-font-semibold: "Pretendard-SemiBold";
    --main-font-bold: "Pretendard-Bold";
    --main-font-Medium: "Pretendard-Medium";
    --main-font-Light: "Pretendard-Light";

    --plus-color:#2ea03f;
    --minus-color:#e6230d;
    --line-color:#c0c0c0;
    --modal-color:#fff;
    --modal-color2:#fff;

 
  }
  [data-theme="dark"] {
    --primary-color: #ff7519;
    --bs-body-bg: #1a1a1a;
    --bs-board-bg: #1a1a1a;
    --txt-default-color: #dadada;
    --txt-reverse-color: #000;
    --bs-gray-color: #222222;
    --txt-gray-color : #c5c5c5;
    --card-color:#363636;
    --box-shadow: 5px 5px 5px rgba(19, 19, 19, 0.9);
    --line-color:#363636;
    --modal-color:#363636;
    --modal-color2:#1a1a1a;
    --plus-color:#00a859;
    --minus-color:#db2b39;
  }
  
  button{
    cursor: pointer;
  }