@import "tailwindcss";

:root {
  --bg-color: #f5f5f5;
  --text-color: #111;
}

/* 다크 모드 */
body.dark {
  --bg-color: #0b0e11;
  --text-color: #dadada;
}

button {
  cursor: pointer;
}

input,
button {
  border: none;
  outline: none;
}

.red {
  color: #e6230d;
}
.green {
  color: #2ea03f;
}
.black {
  color: #353535;
}

.bg-app {
  background-color: var(--bg-color);
}

.text-app {
  color: var(--text-color);
}